# extra files coming from neogeo roms
# *.bin
# *.SPR
# *.PRG
*.PCM
*.Z80
*.ZIP

# temp doc files
*.pptx
samples

# MAME excludes
mame64.exe
mame64.sym
/tools/MAME/cfg
/tools/MAME/nvram
puzzledp

##### typical excludes for C & C++ projects, thanks GitHub for this :) #####

# Prerequisites
*.d

# sprite editor files
NGFX.ini

# Compiled Object files
*.slo
*.lo
# *.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
*.lib

# Executables
# *.exe
*.out
*.app
tools/MAME/cfg/puzzledp.cfg
tools/MAME/nvram/puzzledp/saveram

# backup files
*.bak
