# extra files coming from neogeo roms
# *.bin
# *.SPR
# *.PRG
*.PCM
*.Z80
*.ZIP

# MAME excludes
mame64.exe
mame64.sym
/tools/MAME/cfg
/tools/MAME/nvram

##### typical excludes for C & C++ projects, thanks GitHub for this :) #####

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
# *.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
# *.exe
*.out
*.app
tools/MAME/cfg/puzzledp.cfg
tools/MAME/nvram/puzzledp/saveram
